

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }
  
.projectBlock1 {
    background-color: #005F73 ;
}

.projectBlock2 {
    background-color: #AE2012;
}

.projectBlock3 {
    background-color: #EE9B00;
}