.navBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .navLink1, .navLink2, .navLink3, .navLink4 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .navLink1:hover, .navLink2:hover, .navLink3:hover, .navLink4:hover {
    transform: scale(1.1);
  }
  
  .navLink1 {
    background-color: #0A9396;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
  }

  .navLink2 {
    background-color: #CA6702;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
  }

  .navLink3 {
    background-color: #94D2BD;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
  }

