.resumeBlock {
    padding: 50px;
    text-align: center;
}

.resumeDocument {
    width: fit-content;
    margin: auto;
    overflow: hidden;
    max-height: 120vh;
    max-width: 100vw;
    padding: 30px;
  }

  .resumeDownload {
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
  }