@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=IBM+Plex+Serif:ital@1&display=swap');

body {
  background-color: #001219;
  color: white;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

::selection {
  background: #ef69e4;
}